<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.jeecg.modules.system.mapper.SysUserGoodMapper">

    <delete id="deleteBathGoodUserRelation">
        delete from sys_user_good
        where good_id in
        <foreach item="id" collection="goodIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
